$title: rgba(109, 115, 131, 1);
$border: rgba(222, 222, 227, 1);
$legendFill: #6946D2;

.lists {
  min-height: 100vh;
  padding: 95px 0 0 0;

  .listsHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  h4 {
    color: $title;
    opacity: 0.8;
    margin: 0 0 0 ;
  }

  .legend {
    opacity: 0.8;

    .box {
      width: 10px;
      height: 10px;
      display: inline-block;
      background: $legendFill;
    }

    .text {
      color: $legendFill;
      margin-left: 10px;
      font-size: 14px;
    }
  }

  .empty {
    background-color: white;
    border: 2px solid $border;
    color: $title;
    padding: 30px;
    margin: 10px 0 0 0;
    text-align: center;
  }
}