$headerSize: 65px;
$headerBg: rgba(24, 27, 37, 1);
$date: rgba(109, 115, 131, 1);
$accent: #EE6462;
$navSize: 80px;
$buttonSize: 50px;
$headerWidth: calc(100% - 80px);

@mixin button() {
  background: transparent;
  outline: none;
  border: 0;
  font-weight: 500;
  height: $headerSize;
  margin: 0 auto;
}

.headerWrapper {
  height: $headerSize;
  width: 100%;
  position: relative;
  background: $headerBg;
  z-index: 10;

  .header {
    background: $headerBg;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: $headerWidth;
    max-width: $headerWidth;

    .buttonWrapper {
      height: $headerSize;
      width: $headerSize;
      padding: 0 7px;
    }

    .add, .add:hover, .add:focus {
      @include button();
      color: $accent;
      font-size: 36px;
      width: $buttonSize;
      cursor: pointer;
    }

    .schedule, .schedule:hover, .schedule:focus {
      @include button();
      color: $date;
      font-size: 16px;
      padding-top: 7px;
      margin-left: 10px;
    }
  }
}
