$logoPath: '../../../../../assets/images/basket.svg';
$links: rgba(109, 115, 131, 1);
$borders: rgba(109, 115, 131, 0.15);
$navSize: 80px;
$navBg: rgba(42, 47, 58, 1);
$headerBg: rgba(24, 27, 37, 1);
$accent: #EE6462;

@mixin verticalFlex($justify) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
}

.navWrapper {
  width: $navSize;
  position: relative;
  background: $navBg;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 10px, rgba(0, 0, 0, 0.17) 0px 3px 10px;
  overflow-y: scroll;

  .nav {
    @include verticalFlex(flex-start);
    width: $navSize;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-height: 400px;
  }

  a {
    @include verticalFlex(center);
    width: $navSize;
    height: $navSize;
    font-size: 16px;
    text-decoration: none;
    color: $links;
    text-align: center;
    border-bottom: 1px solid $borders;
    transition: color 0.2s;

    &.active {
      color: $accent;
    }
  }

  .logo {
    display: block;
    background-image: url($logoPath);
    background-size: auto 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 65px;
    border-bottom: 0;
    background-color: $headerBg;

    span {
      opacity: 0;
    }
  }
}