$addAllPath: '../../../../../../../assets/images/add_all.svg';
$accent: #6946D2;

.actions {
  display: inline-block;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-right: 15px;
  opacity: 0.8;
  transition: all 0.2s;
  cursor: pointer;
  color: $accent;

  &:hover {
    color: $accent;
  }
}