$underlayBg: rgba(42, 47, 58, 0.8);
$contentBg: white;
$animTiming: 0.2s;
$inputBorder: #DBDBDB;
$contentShadow: rgba(0, 0, 0, 0.21) 0px 14px 45px, rgba(0, 0, 0, 0.18) 0px 10px 18px;
$inputShadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$text: rgba(109, 115, 131, 1);
$value: #6946D2;
$cancel: #D3334D;

@mixin fullScreen() {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin font() {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

@mixin button() {
  @include font();
  cursor: pointer;
  height: 40px;
  width: 100%;
  border: 0;
  outline: none;
  margin-top: 10px;
  transition: all 0.2s;
}

@mixin input() {
  border: 0;
  border-bottom: 1px solid $inputBorder;
  outline: none;
}

.underlay {
  @include fullScreen();
  background: $underlayBg;
  cursor: pointer;
  animation: fadeIn $animTiming;
  z-index: 100;
}

.contentWrapper {
  @include fullScreen();
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  overflow: hidden;
  z-index: 101;

  .content {
    animation: open $animTiming;
    pointer-events: all;
    width: 90%;
    height: auto;
    min-height: 200px;
    background-color: $contentBg;
    border-radius: 2px;
    margin: 0 auto;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-shadow: $contentShadow;
    padding: 40px 30px;
    max-height: 90%;
    overflow-y: scroll;

    h4 {
      color: $text;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }

    label {
      color: $text;
      font-size: 14px;
      margin: 15px 0 0;
    }

    input {
      @include font();
      @include input();
      color: $text;
      height: 40px;
      border-radius: 3px;
      width: 100%;
      display: block;
      margin: 5px 0 15px;
      padding: 8px 12px;
      transition: border-bottom 0.2s;

      &:focus {
        border-bottom: 1px solid $value;
      }
    }

    .save {
      @include button();
      color: $value;
      border: 1px solid $value;
      border-radius: 2px;
      padding: 8px;
      margin-top: 20px;

      &:hover {
        background-color: $value;
        color: white;
      }
    }

    .cancel {
      @include button();
      color: $cancel;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }

    .select {
      @include input();
      height: 40px;
      width: 100%;
      display: block;
      background-color: white;
      margin: 5px 0 15px;
      border-radius: 0;
    }
  }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes open {
  0% { -webkit-transform: translate(0px, -64px); opacity: 0; }
  100% { -webkit-transform: translate(0px, 0px); opacity: 1; }
}

@keyframes open {
  0% { transform: translate(0px, -64px); opacity: 0; }
  100% { transform: translate(0px, 0px); opacity: 1; }
}
