$title: rgba(109, 115, 131, 1);
$border: rgba(222, 222, 227, 1);
$accent: #EE6462;

.basket {
  min-height: 100vh;
  padding-top: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    h4 {
      opacity: 0.8;
      margin: 0 0 0 0;
      color: $title;
    }

    .clear {
      background: transparent;
      border: 0;
      outline: none;
      color: $accent;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    background-color: white;
    border: 2px solid $border;
    padding: 0 0 0 0;
    margin: 10px 0 0 0;

    li:last-child {
      border-bottom: 0;
    }
  }

  .empty {
    background-color: white;
    border: 2px solid $border;
    color: $title;
    padding: 30px;
    margin: 10px 0 0 0;
    text-align: center;
  }
}