$title: rgba(109, 115, 131, 1);
$border: rgba(222, 222, 227, 1);
$accent: #6946D2;

.basket {
  min-height: 100vh;
  padding-top: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    h4 {
      opacity: 0.8;
      margin: 0 0 0 0;
      color: $title;
      padding-top: 2px;
    }

    .clear {
      background: transparent;
      border: 0;
      outline: none;
      color: $accent;
      font-size: 13px;
      cursor: pointer;
      padding-top: 2px;
      text-align: right;
      text-decoration: underline;
      opacity: 0.7;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  ul {
    background-color: white;
    border: 2px solid $border;
    padding: 0 0 0 0;
    margin: 10px 0 0 0;

    li:last-child {
      border-bottom: 0;
    }
  }

  .empty {
    background-color: white;
    border: 2px solid $border;
    color: $title;
    padding: 40px 30px;
    margin: 10px 0 0 0;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .basket {
    ul {
      display: flex;
      flex-wrap: wrap;
      background-color: transparent;
      border: 0;

      li {
        background-color: white;
        margin: 0 10px 10px 0;
        width: calc(50% - 5px);
        border: 2px solid $border;

        &:nth-child(2n + 2) {
          margin-right: 0;
        }

        &:last-child {
          border-bottom: 2px solid $border;
        }
      }
    }
  }
}

@media (min-width: 1080px) {
  .basket {
    ul {
      li {
        width: calc((100% / 3) - 10px);

        &:nth-child(2n + 2) {
          margin-right: 10px;
        }

        &:nth-child(3n + 3) {
          margin-right: 0;
        }
      }
    }
  }
}
