$title: rgba(109, 115, 131, 1);
$border: rgba(222, 222, 227, 1);

.basket {
  min-height: 100vh;
  padding-top: 30px;

  h4 {
    opacity: 0.8;
    margin: 0 0 0 ;
    color: $title;
  }

  ul {
    background-color: white;
    border: 2px solid $border;
    padding: 0 0 0 0;
    margin: 10px 0 0 0;

    li:last-child {
      border-bottom: 0;
    }
  }
}