$border: rgba(212, 211, 216, 1);
$removePath: '../../../../../assets/images/rm.svg';
$text: rgba(109, 115, 131, 1);

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border;
  padding: 20px;

  input {
    max-width: 50%;
    width: 50%;
    outline: none;
    border: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: $text;
    text-overflow: ellipsis;

    &:first-child {
      max-width: 20%
    }
  }

  .remove {
    width: 20px;
    height: 20px;
    color: transparent;
    background-image: url($removePath);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: center;
    border: 0;
    outline: none;
    background-color: transparent;
    opacity: 0.6;
    transition: opacity 0.2s;
    cursor: pointer;

    &:hover {
      opacity: 1.0;
    }
  }
}
