$border: rgba(212, 211, 216, 1);
$removePath: '../../../../../assets/images/rm.svg';

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border;
  padding: 20px;

  .remove {
    width: 20px;
    height: 20px;
    color: transparent;
    background-image: url($removePath);
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: center;
    border: 0;
    outline: none;
    background-color: transparent;
    opacity: 0.6;
    transition: opacity 0.2s;
    cursor: pointer;

    &:hover {
      opacity: 1.0;
    }
  }
}
