$border: rgba(222, 222, 227, 1);
$accent1: #6946D2;

.groupWrapper {
  background-color: white;
  border: 2px solid $border;
  margin: 10px 0 0 0;

  .groupHeader {
    display: flex;
    justify-content: space-between;
  }

  h5 {
    padding: 0 20px;
    display: inline-block;
    margin: 20px 0;
    color: $accent1;
  }

  ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    li:last-child {
      border-bottom: 0;
    }
  }
}
