$border: rgba(212, 211, 216, 1);
$recurFill: #6946D2;
$text: rgba(109, 115, 131, 1);
$addPath: '../../../../../../../assets/images/add.svg';
$deletePath: '../../../../../../../assets/images/rm.svg';
$recurShadow: 0 2px 6px rgba(0, 0, 0, 0.3);
$hoverShadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.08) 0px 8px 9px;

@mixin button($imagePath, $imgSize) {
  width: 20px;
  height: 20px;
  color: transparent;
  background-image: url($imagePath);
  background-repeat: no-repeat;
  background-size: $imgSize auto;
  background-position: center;
  border: 0;
  outline: none;
  background-color: transparent;
  opacity: 0.6;
  transition: opacity 0.2s;
  cursor: pointer;
  margin-left: 5px;

  &:hover {
    opacity: 1.0;
  }
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 20px;
  transition: all 0.2s;
  border-bottom: 1px solid $border;

  .recur {
    width: 10%;

    .recurBox {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid $recurFill;
      border-radius: 1px;
      opacity: 0.5;

      &.filled {
        background-color: $recurFill;
        opacity: 1.0;
      }

      &:hover {
        box-shadow: $recurShadow;
        background-color: $recurFill;
      }
    }
  }

  input {
    color: $text;
    font-size: 16px;
    text-overflow: ellipsis;
    border: 0;
    outline: none;
    background-color: transparent;

    &:focus {
      background-color: white;
    }
  }

  .quantity {
    width: 20%;
  }

  .name {
    width: 55%;
  }

  .actions {
    width: 10%;
  }

  .add {
    @include button($addPath, 18px);
    background-position: center top;
  }

  .delete {
    @include button($deletePath, 14px);
  }

  &:last-child {
    border-width: 1px 1px 0 1px;
  }

  &:hover {
    box-shadow: $hoverShadow;
  }

  &.selected {
    border-left: 3px solid $recurFill;
    box-shadow: none;
  }
}

@media (min-width: 768px) {
  .item {
    border: 2px solid $border;

    &:last-child {
      border-width: 2px 2px 2px 2px;
    }

    &.selected {
      border: 2px solid $recurFill;
    }
  }
}
